@using StoreDB.Enum; 
@model PagedList.IPagedList<BackMeow.Models.ViewModel.SystemRolesListContentViewModel>
 
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LockoutEnabled)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td> 
            <td style="width:18%">
                <button type="button" class="btn btn-primary btn-toastr"
            onclick="location.href='@Url.Action("SystemRolesMain", "System",
                                   new { ActionType = Actions.Update, guid = @item.Id })'">明細</button>
                <button type="button" class="btn btn-danger">刪除</button> 
            </td>
        </tr> 
}

</table>
 