@using BackMeow.Models
@model LoginViewModel
@{
    ViewBag.Title = "登入";
    Layout = "";
}
<link href="~/Content/Loginstyle.css" rel="stylesheet" /> 

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    @Html.AntiForgeryToken() 
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="group"> 
        <span class="bar">
            @ViewBag.ErrorMsg
        </span>
        <input type="text" name="Account" id="Account" />  
        <span class="highlight"></span>
        <span class="bar">
        </span>
        <label>Account</label>
        @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
    </div>
    <div class="group"> 
        <input type="password" name="Password" />   
        <span class="highlight"></span>
        <span class="bar">
        </span> 
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        
    </div>
    
        <button class="button buttonBlue">
            登入
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button> 
}
    <footer>
        <a href="http://www.polymer-project.org/" target="_blank"><img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a>
        <p>You Gotta Love <a href="http://www.polymer-project.org/" target="_blank">Google</a></p>
    </footer> 

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>*@
<script src="~/Scripts/LoginJs.js"></script>