@using PagedList.Mvc;
@using StoreDB.Enum;
@model BackMeow.Models.ViewModel.ActitiesViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>活動紀錄管理</h2>

@using (Html.BeginForm("ActivitiesList", "Activity", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="control-group">
        <label class="control-label" for="CityDDL">縣市</label>
        <div class="controls">
            <select id="CityDDL"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="CountyDDL">鄉鎮市區</label>
        <div class="controls">
            <select id="CountyDDL"></select>
        </div>
    </div>
    @Html.HiddenFor(model => model.page)
    <div class="row">
        <div class="col-md-12">
            <!-- PANEL DEFAULT -->
            <div class="panel">
                <div class="panel-heading">
                    <h5 class="widget-title"></h5>
                    <button type="button" class="btn-toggle-collapse">
                        <i class="lnr lnr-chevron-up"></i>
                        活動紀錄管理 查詢區
                    </button>
                    @*<div class="right">
                            <button type="button" onclick="location.href='location.href='@Url.Action("SystemRolesMain", "System",
                                           new { ActionType = Actions.Create })'">
                                <i class="fa fa-plus-square"></i>新增
                            </button>
                        </div>*@
                </div>
                <div style="overflow: auto;">
                    <div class="panel-body">
                        @Html.LabelFor(model => model.Header.TitleName, htmlAttributes: new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            <input class="form-control" id="select_TitleName" name="Header.TitleName" placeholder="請輸入 @Html.DisplayNameFor(model => model.Header.TitleName)"
                                   type="text" value="@Model.Header.TitleName">
                        </div>
                        @Html.LabelFor(model => model.Header.CreateTime, htmlAttributes: new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            <input class="form-control" id="select_CreateTime" name="Header.CreateTime" placeholder="請輸入 @Html.DisplayNameFor(model => model.Header.CreateTime)"
                                   type="text" value="@Model.Header.CreateTime">
                        </div>
                    </div>
                    <div class="panel-body">
                        @Html.LabelFor(model => model.Header.StartDate, htmlAttributes: new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            <input class="form-control" id="select_StartDate" name="Header.StartDate" placeholder="請輸入 @Html.DisplayNameFor(model => model.Header.StartDate)"
                                   type="text" value="@Model.Header.StartDate">
                        </div>
                        <label class="col-md-1">至</label>
                        @Html.LabelFor(model => model.Header.EndDate, htmlAttributes: new { @class = "col-md-1 control-label" })
                        <div class="col-md-3">
                            <input class="form-control" id="select_EndDate" name="Header.EndDate" placeholder="請輸入 @Html.DisplayNameFor(model => model.Header.EndDate)"
                                   type="text" value="@Model.Header.EndDate">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <button type="button" id="Create" class="btn btn-default pull-right">
                        @*onclick="location.href='@Url.Action("SystemRolesMain", "System",
                            new { ActionType = Actions.Create })'"*@
                        <i class="fa fa-plus-square"></i> 新增
                    </button>
                    <button type="submit" class="btn btn-default pull-right">
                        <i class="fa fa-search lg"></i>查詢
                    </button>
                </div>
            </div>
            <!-- END PANEL DEFAULT -->
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_ActivitiesList", Model.Content_List)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model.Content_List, page => Url.Action("SystemRoles", new { ViewModel = @Model, page }),
                                                                                            PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Partial("_TaiwanZipCode")
    <script>
        $(document).ready(function () { 
            var Message = '@Html.Raw(HttpUtility.JavaScriptStringEncode((string)@TempData["message"]))';
            if (Message != '') {
                showDialog(Message, false);
             }

            $("#Create").click(function () {
                PackageEvent('', true);
            });

            var options = {
                CityID: '#CityDDL',
                CountyID: '#CountyDDL'
            };
            TaiwanZipCode.Settings(options);

        });
        function PackageEvent(uid, createOrUpdat)
        {
            var dataType = '@DataAction.Create';
            var select_CreateTime = $("#select_CreateTime").val();
            var select_TitleName = $("#select_TitleName").val();
            var select_HtmlContext = $("#select_HtmlContext").val();
            var select_StartDate = $("#select_StartDate").val();
            var select_EndDate = $("#select_EndDate").val();

            var url = '@Url.Action("ActivitiesMain", "Activity")'+'?guid=' + uid +
                '&selectCreateTime=' + select_CreateTime + '&selectTitleName=' + select_TitleName +
                '&selectHtmlContext=' + select_HtmlContext + '&selectStartDate=' + select_StartDate +
                '&selectEndDate=' + select_EndDate +
                '&pages=' + @Model.page+ '&ActionType=';
            if (!createOrUpdat) // True = Create; False = Update
            {
                dataType = '@DataAction.Update';
            }
            url += dataType;

            window.location.href = url;
        }
    </script>
}